.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-data {
  box-sizing: border-box;
  margin: 10px 5px;
  text-align: center;
  color: #737373;
  height: 38.8px;
}

.no-data svg {
  display: block;
  margin: auto;
  width: 25px;
  height: 25px;
  color: #ccc;
}